.colonial-faction #sidebar-header {
    background: linear-gradient(rgb(24, 24, 24), rgb(5, 26, 6));
}

.warden-faction #sidebar-header {
    /*background: linear-gradient(rgb(24, 24, 24), rgb(11, 34, 53));*/
    background: linear-gradient(rgb(24, 24, 24), rgb(5, 16, 26));
}

#sidebar-header > .colonial-button, #sidebar-header > .warden-button {
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
    filter: grayscale(100%);
}

#sidebar-header > .colonial-button.selected, #sidebar-header > .warden-button.selected,
#sidebar-header > .colonial-button:hover, #sidebar-header > .warden-button:hover {
    background-size: 54px;
    filter: none;
}

#sidebar-header > .colonial-button:not(.selected):hover, #sidebar-header > .warden-button:not(.selected):hover {
    background-size: 50px;
}

#sidebar-header > .colonial-button {
    background-image: url('/games/foxhole/assets/colonial_logo.webp');
    float: left;
}

#sidebar-header > .warden-button {
    background-image: url('/games/foxhole/assets/warden_logo.webp');
    float: right;
}

.colonial-faction #sidebar-body.construction-page {
    background: linear-gradient(rgb(54, 79, 18), rgb(38, 51, 32));
}

.warden-faction #sidebar-body.construction-page {
    background: linear-gradient(rgb(18, 50, 79), rgb(32, 42, 51));
}

/*
.colonial-faction #construction-page .construction-mode-button.mode-selected {
    background: #619b12;
}

.warden-faction #construction-page .construction-mode-button.mode-selected {
    background: #1a92ff;
}
*/

/*
.colonial-faction .construction-options {
    background-color: rgb(73, 106, 25);
}

.warden-faction .construction-options {
    background-color: rgb(25, 81, 132);
}
*/

#confirmation-dialog {
    width: 400px;
    height: 200px;
    background-color: #1a1a1a;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#confirmation-dialog .confirmation-header {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    padding: 4px 4px 4px 9px;
    position: relative;
    text-align: left;
}

#confirmation-dialog .confirmation-header > h3 {
    display: inline-block;
    margin: 0;
}

#confirmation-dialog .confirmation-header > button {
    margin: 2px;
}

#confirmation-dialog .confirmation-body {
    padding: 20px;
}

#confirmation-dialog .confirmation-body > button {
    width: 100%;
    background: linear-gradient(rgb(255, 0, 0), rgb(168, 0, 0));
    margin-top: 14px;
    padding: 4px 4px 4px 9px;
    position: relative;
    font-size: 2em;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 3px #000;
    cursor: pointer;
}

#confirmation-dialog .confirmation-body > button:hover {
    border: 2px solid white;
}

.statistics-panel {
    width: 325px;
    background: #1a1a1a;
    /*background: linear-gradient(rgb(42, 42, 42), rgb(32, 32, 32));*/
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 6px;
    text-align: left;
}

.statistics-panel-header {
    /*background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));*/
    padding: 6px 6px 6px 12px;
    position: relative;
    overflow: auto;
}

.statistics-panel-header {
    background: #0f0f0f;
    background: linear-gradient(rgb(24, 24, 24), rgb(12, 12, 12));
    /*border: 1px solid black;*/
}

.colonial-faction .statistics-panel-header {
    /*background: linear-gradient(rgb(24, 24, 24), rgb(5, 26, 6));*/
    background: linear-gradient(rgb(31, 70, 33), rgb(5, 26, 6));
}

.warden-faction .statistics-panel-header {
    /*background: linear-gradient(rgb(24, 24, 24), rgb(5, 16, 26));*/
    background: linear-gradient(rgb(12, 61, 106), rgb(5, 16, 26));
}

.statistics-panel-header button {
    background: transparent;
}

.statistics-panel-body {
    /*min-height: 400px;*/
    max-height: 890px;
    padding: 10px 12px;
    overflow: auto;
}

.statistics-panel-body .resource-row {
    background: #0b0b0b;
    margin: 0;
}

.statistics-panel-body .resource-row:not(:last-child) {
    border-bottom: 1px solid black;
}

.statistics-panel-body .resource-icon {
    background-color: #171717;
    border: none;
    border-right: 1px solid black;
}

.colonial-faction .statistics-panel-body {
    background: linear-gradient(rgb(54, 79, 18), rgb(38, 51, 32));
}

.warden-faction .statistics-panel-body {
    background: linear-gradient(rgb(18, 50, 79), rgb(32, 42, 51));
}

/*
.statistics-panel-fac-input, .statistics-panel-fac-output {
    background: #0d0d0d;
    padding: 4px;
    border: 1px solid black;
}
*/

.statistics-panel-fac-output .resource-amount {
    color: #03b003;
}

.statistics-panel .construction-options .btn-small {
    cursor: default;
}

.statistics-panel .construction-options .btn-small:hover {
    border-color: black;
}

.statistics-panel .construction-options .btn-small .label {
    font-weight: bold;
}

.high-structural-integrity {
    color: rgb(3, 176, 3) !important;
}

.medium-structural-integrity {
    color: rgb(208, 208, 4) !important;
}

.low-structural-integrity {
    color: rgb(255, 165, 0) !important;
}

.critical-structural-integrity {
    color: rgb(213, 1, 1) !important;
}

.statistics-time-dropdown {
    height: 40px;
    position: relative;
}

.statistics-time-dropdown i {
    width: 35px;
    background-color: #121212;
    line-height: 38px;
    font-size: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border-right: 1px solid black;
}

.statistics-time-dropdown .time-select-wrapper {
    height: 100%;
    position: absolute;
    inset: 0;
    left: 35px;
}

.statistics-time-dropdown select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #090909;
    padding: 0 12px;
}