@keyframes blinker {
    50% {
        color: #ffbf26;
    }
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #3f3f3f;
    font-family: 'FontAwesome', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui {
    pointer-events: none;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

p {
    margin: 0;
}

.app {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    overflow: hidden;
    padding-bottom: 65px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.app-background {
    background-color: rgba(0,0,0, 0.5);
}

.app::-webkit-scrollbar {
    display: none;
}

.app-btn {
    width: 100%;
    font-size: 32px;
    color: #faf1eb;
    background-color: black;
    display: inline-block;
    border: none;
    margin: 6px auto;
    box-shadow: 3px 3px 3px #000000;
    text-decoration: none !important;
}

.app-btn:disabled {
    color: #bdbbbb !important;
}

.app-btn:hover {
    color: white;
    text-decoration: none !important;
}

.app-btn-primary {
    background: rgb(107, 107, 107);
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgb(107, 107, 107) 40%, rgb(162, 162, 162) 100%);
    padding: 16px;
}
.app-btn-primary:hover {
    background: #c73421;
}

.app-btn-secondary {
    background: rgb(107, 107, 107);
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgb(107, 107, 107) 40%, rgb(162, 162, 162) 100%);
    padding: 2px;
}
.app-btn-secondary:hover {
    background: #c73421;
}

.selectable {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.app-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    color: white;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.6);
}

.loading-overlay-text {
    position: relative;
    color: white;
    top: 30%;
    width: 100%;
    text-align: center;
}

#loading{
    position: fixed !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: -250px !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 1rem;
}
#loading > *{
    margin: 1rem;
}
#loading br{
    display: none;
}

.app-content {
    height: 100%;
}

.app-content-inner {
    padding-top: 12px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.app-content-inner::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.app-input {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #101010;
    color: white;
    background-color: rgba(13, 13, 13, 0.75);
    border-radius: 5px;
}

.app-input:disabled {
    color: #777777;
}

/* Sidebar */

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background: linear-gradient(rgb(42, 42, 42), rgb(32, 32, 32));
    border-right: 2px solid black;
}

#sidebar-header {
    height: 70px;
    background: linear-gradient(rgb(24, 24, 24), rgb(12, 12, 12));
    padding: 7px;
}

#sidebar-header > .sidebar-logo {
    max-width: 100%;
    max-height: 100%;
}

#sidebar .app-btn-primary, #sidebar .app-btn-secondary {
    background: linear-gradient(rgb(130, 130, 130), rgb(64, 64, 64));
    box-shadow: 0 0 3px #000;
    font-size: 1.5em;
    height: 50px;
    padding: 0px;
    transition-duration: 0.125s;
}

#sidebar .app-btn-primary:hover, #sidebar .app-btn-secondary:hover {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    font-size: 1.6em;
}

#sidebar-footer {
    height: 64px;
    background: linear-gradient(#101010, black);
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

#sidebar-footer a, #sidebar-footer button, .close-statistics-button, .footer-button {
    display: inline-block;
    background: #050505;
    border: 2px solid #202020;
    cursor: pointer;
    font-size: 2.25em;
    color: #777;
    width: 48px;
    margin: 0 2px;
    line-height: 42px;
    vertical-align: middle;
    text-align: center;
}

#sidebar-footer a:hover, #sidebar-footer button:hover, .close-statistics-button:hover, .footer-button:hover {
    border: 2px solid white;
    color: white;
}

/* Inner Contents of Sidebar */

#sidebar-body {
    position: absolute;
    top: 70px;
    bottom: 64px;
    left: 0;
    right: 0;
}

#sidebar-body .menu-body {
    position: absolute;
    top: 0px;
    bottom: 70px;
    left: 0;
    right: 0;
    padding: 12px;
    overflow: auto;
}

#sidebar-body .menu-footer-buttons {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

#sidebar-body .menu-footer-buttons > .app-btn.app-btn-primary {
    margin: 0;
}

#sidebar-body .menu-page-title {
    background: #121212;
    border: 1px solid black;
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 5px;
}

#sidebar-body .menu-page {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Page-specific Stylings */

#construction-page {
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 12px;
    right: 12px;
}

#construction-page > .menu-page {
    background: black;
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
}

#construction-page .construction-category {
    background: #141414;
    width: 100%;
    line-height: 30px;
    border-radius: 0;
    font-size: 1.3em;
    padding: 10px;
}

#construction-page .construction-category:focus {
    border: 1px solid white;
}

#construction-page .construction-items {
    background: black;
    height: 100%;
    padding: 2px;
}

#about-page {
    text-align: left;
}

#about-page > .about-section {
    margin-bottom: 20px;
}

#about-page > .about-section > div.about-section-header {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    border-bottom: 1px solid black;
    font-size: 1.3em;
    margin: 0;
    padding: 6px 12px;
}

#about-page > .about-section > p {
    background: #1c1c1c;
    padding: 8px 14px;
}

#about-page > .about-section a {
    color: #ff864e;
    margin: 0 2px;
}

#about-page > .about-section a:hover {
    color: white;
}

#about-page > .about-section > .contributors-list a {
    white-space: nowrap;
}

.build-icon {
    cursor: pointer;
    width: 25%;
    padding-top: 25%;
    border: 1px solid black;
    background-color: #282828;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.build-icon:hover {
    background-color: #3b3b3b;
}

.resource-icon {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    text-shadow: 2px 2px #000;
    margin: auto;
}

.close-statistics-button, .footer-button {
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin: 6px 6px 6px 0;
    font-size: 1.15em;
    float: right;
}

.close-statistics-button {
    margin: 3px;
}

#delete-confirmation-dialog {
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#delete-confirmation-dialog .confirmation-header {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    padding: 4px 4px 4px 9px;
    position: relative;
    text-align: left;
}

#delete-confirmation-dialog .confirmation-header > h3 {
    display: inline-block;
    margin: 0;
}

#delete-confirmation-dialog .confirmation-header > button {
    margin: 2px;
}

#delete-confirmation-dialog .confirmation-body {
    padding: 20px;
}

#delete-confirmation-dialog .confirmation-body > button {
    width: 100%;
    background: linear-gradient(rgb(255, 0, 0), rgb(168, 0, 0));
    margin-top: 14px;
    padding: 4px 4px 4px 9px;
    position: relative;
    font-size: 2em;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 3px #000;
    cursor: pointer;
}

#delete-confirmation-dialog .confirmation-body > button:hover {
    border: 2px solid white;
}

.statistics-panel {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 300px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.statistics-panel-header {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    padding: 4px 4px 4px 9px;
    position: relative;
}

.statistics-panel-header h3 {
    display: inline-block;
    margin: 0;
}

.statistics-panel-header button {
    background: #1a1a1a;
    float: right;
    margin: 2px;
}

.statistics-panel-body {
    min-height: 400px;
    max-height: 890px;
    padding: 12px;
    overflow: auto;
}

.statistics-panel-body .resource-row {
    background: linear-gradient(to right, #242424, #0000);
    overflow: auto;
    margin-bottom: 4px;
}

.statistics-panel-body .resource-icon {
    width: 48px;
    height: 48px;
    background-color: #0B0B0B;
    float: left;
    margin-right: 8px;
}

.statistics-panel-body .resource-name {
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.statistics-panel-body .resource-amount {
    color: #d50101;
    line-height: 25px;
}

.statistics-panel-fac-output .resource-amount {
    color: #03b003;
}

.hover-menu {
    position: fixed;
    top: 0;
    left: 350px;
    background-color: #4a4a4a;
    padding: 6px;
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    color: white;
    height: 44px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 350px;
    text-align: left;
}

.footer .checkbox-button {
    display: inline-block;
    cursor: pointer;
    margin: 8px 55px 0 8px;
}

.footer .checkbox-button input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    padding: 3px;
    vertical-align: middle;
}

.footer .checkbox-button input[type="checkbox"]::before {
    content: "";
    display: block;
    height: 100%;
}

.footer .checkbox-button input[type="checkbox"]:checked::before {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
}

.settings-option-wrapper {
    background: #222;
    border: 1px solid #131313;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 12px;
}

label.settings-option-wrapper, .settings-option-wrapper label {
    display: block;
    padding: 6px 6px 6px 12px;
    overflow: auto;
}

.settings-option-wrapper label {
    border-bottom: 1px solid #131313;
    margin: 0;
}

.settings-option-wrapper label:last-child {
    border-bottom: none;
}

label.settings-option-wrapper select, .settings-option-wrapper label select,
label.settings-option-wrapper input, .settings-option-wrapper label input {
    background: #131313;
    height: 30px;
    border-radius: 5px;
    float: right;
}

label.settings-option-wrapper input:not(.slider), .settings-option-wrapper label input:not(.slider) {
    width: 100px;
}

label.settings-option-wrapper select:focus, .settings-option-wrapper label select:focus,
label.settings-option-wrapper input:focus, .settings-option-wrapper label input:focus {
    outline: 2px solid white;
}