@keyframes blinker {
    50% {
        color: #ffbf26;
    }
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #3d1714;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui {
    pointer-events: none;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

p {
    margin: 0;
}

.app {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    overflow: hidden;
    padding-bottom: 65px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.app-background {
    background-color: rgba(0,0,0, 0.5);
}

.app::-webkit-scrollbar {
    display: none;
}

.app-btn {
    width: 100%;
    font-size: 32px;
    color: #faf1eb;
    background-color: black;
    display: inline-block;
    border: none;
    margin: 6px auto;
    box-shadow: 3px 3px 3px #000000;
    text-decoration: none !important;
}

.app-btn:disabled {
    color: #bdbbbb !important;
}

.app-btn:hover {
    color: white;
    text-decoration: none !important;
}

.app-btn-primary {
    background: rgb(107, 107, 107);
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgb(107, 107, 107) 40%, rgb(162, 162, 162) 100%);
    padding: 16px;
}
.app-btn-primary:hover {
    background: #c73421;
}

.app-btn-secondary {
    background: rgb(107, 107, 107);
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgb(107, 107, 107) 40%, rgb(162, 162, 162) 100%);
    padding: 2px;
}
.app-btn-secondary:hover {
    background: #c73421;
}

.selectable {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.app-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    color: white;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.6);
}

.loading-overlay-text {
    position: relative;
    color: white;
    top: 30%;
    width: 100%;
    text-align: center;
}

#loading{
    position: fixed !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: -250px !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 1rem;
}
#loading > *{
    margin: 1rem;
}
#loading br{
    display: none;
}

.app-content {
    height: 100%;
}

.app-content-inner {
    padding-top: 12px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.app-content-inner::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.app-input {
    width: 100%;
    font-size: 22px;
    height: 2.5em;
    padding: 12px 20px;
    outline: none;
    margin: 6px auto;
    box-sizing: border-box;
    border: 2px solid black !important;
    color: white;
    background-color: rgba(0,0,0, 0.75);
    box-shadow: 3px 3px 3px #000000;
}
.app-input:focus {
    border: 2px solid white;
}
.app-input:disabled {
    color: #777777;
}

.app-input-label {
    text-align: left;
    width: 80%;
}

.build-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    padding: 12px;
    height: 100%;
    background: linear-gradient(rgb(42, 42, 42), rgb(32, 32, 32));
    border-right: 2px solid black;
}

.build-menu-header {
    height: 70px;
    background: linear-gradient(rgb(24, 24, 24), rgb(12, 12, 12));
    margin: -12px -12px 6px -12px;
    padding: 7px;
}

.build-menu-page {
    height: 729px;
    overflow-x: hidden;
    overflow-y: auto;
}

.build-menu-logo {
    max-width: 100%;
    max-height: 100%;
}

#construction-items {
    background: black;
    height: 100%;
    padding: 2px;
}

.build-menu .app-btn-primary, .build-menu .app-btn-secondary {
    background: linear-gradient(rgb(130, 130, 130), rgb(64, 64, 64));
    box-shadow: 0 0 3px #000;
    font-size: 1.5em;
    height: 50px;
    padding: 0px;
    transition-duration: 0.125s;
}

.build-menu .app-btn-primary:hover, .build-menu .app-btn-secondary:hover {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    font-size: 1.6em;
}

.build-icon {
    cursor: pointer;
    width: 25%;
    padding-top: 25%;
    border: 1px solid black;
    background-color: #282828;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.build-icon:hover {
    background-color: #3b3b3b;
}

.resource-icon {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    text-shadow: 2px 2px #000;
    margin: auto;
}

.build-menu-footer {
    background: linear-gradient(#101010, black);
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

.build-menu-footer a, .build-menu-footer button, .close-statistics-button, .fullscreen-button {
    display: inline-block;
    background: transparent;
    border: 2px solid #202020;
    cursor: pointer;
    border-radius: 8px;
    font-size: 2.25em;
    color: #777;
    width: 48px;
    margin: 0 2px;
    line-height: 42px;
    vertical-align: middle;
    text-align: center;
}

.build-menu-footer a:hover, .build-menu-footer button:hover, .close-statistics-button:hover, .fullscreen-button:hover {
    border: 2px solid white;
    color: white;
}

.close-statistics-button, .fullscreen-button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    line-height: 25px;
    margin: 6px;
    font-size: 1.15em;
    float: right;
}

.close-statistics-button {
    margin: 3px;
}

.statistics-panel {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 300px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.statistics-panel-header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px 9px;
    position: relative;
}

.statistics-panel-header h3 {
    display: inline-block;
}

.statistics-panel-header button {
    float: right;
}

.statistics-panel-body {
    padding: 12px;
    overflow: auto;
}

.hover-menu {
    position: fixed;
    top: 0;
    left: 350px;
    background-color: #4a4a4a;
    padding: 6px;
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    color: white;
    height: 44px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 350px;
    text-align: left;
}

.footer .checkbox-button {
    display: inline-block;
    cursor: pointer;
    margin: 8px 55px 0 8px;
}

.footer .checkbox-button input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px;
    vertical-align: middle;
}

.footer .checkbox-button input[type="checkbox"]::before {
    content: "";
    display: block;
    height: 100%;
}

.footer .checkbox-button input[type="checkbox"]:checked::before {
    background: linear-gradient(rgb(233, 109, 52), rgb(132, 59, 24));
}

#about-page a {
    color: #dfdfdf;
    margin: 0 2px;
}

#about-page a:hover {
    color: white;
    text-decoration: none;
}